*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;

    font-size: 10px;
    font-family: 'Fraunces', serif;
}

.wrapper{
    min-height: 100vh;
    margin: 0 auto;
}

.header{
    min-height: 10vh;
    font-size: 1.8rem;
    
    display: flex;
    align-items: center;
    border-bottom: 1px solid #aaa;

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 1rem;
        margin: 0 auto;

        width:50%;
    }

}

.btn{
    color: white;
    background-color: black;

    padding: 0 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    outline: none;

    font-size: 1.6rem;
    text-align: center;


    cursor: pointer;
    &:hover{
        color: black;
        background-color: white;
    }

}

.add-book-btn{
    display: flex;
    align-items: center;

    svg{
        fill: white;
    }
    &:hover{
        svg{
            fill: black;
        }
    }
}

.main{
    padding: 2rem 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 80%;
    margin: 0 auto;
}

.book-card{
    position: relative;

    margin: 0 1rem 2rem 2rem;
    border: 1px solid #aaa;
    border-radius: 0.5rem;

    min-height: 10vh;
    min-width: 15vw;

    &:hover .delete-btn{
        display: inline-block;
    }
}

.delete-btn{
    position: absolute;
    top: 0;
    right: 0;

    padding: 0.1rem;
    opacity: 0.3;
    cursor: pointer;

    display: none;
    &:hover{
        opacity: 1;
    }
    svg{
        pointer-events: none;
    }
}

.title{
    font-size: 1.6rem;
    text-align: center;
    padding: 0 1.5rem 0.5rem 1.5rem;
}

.author{
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    text-align: end;
    padding: 0 0.5rem 0.5rem 0;
}

.pages, .completion{
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;

    border-top: 1px solid #aaa;
}

.completion{
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.book-read{
    background-color: rgb(163, 221, 168);
}

.book-not-read{
    background-color: rgb(245, 149, 149);
}


.new-book-popup{
    position: fixed;
    top: 0;

    min-height: 100vh;
    min-width: 100vw;

    background-color: black;
    opacity: 0.7;

    display: none;

    &.active{
        display: block;
    }
}

.new-book-form{
    position: fixed;
    left: 50%;
    top: 50%;  
    transform: translate(-50%, -50%);

    padding: 2rem;
    border: 1px solid #aaa;
    border-radius: 1rem;
    background-color: white;

    display: none;

    &.active{
        display: block;
    }
}

.label{
    font-size: 2rem;
    padding: 0 0.5rem;
}
.input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.4rem;
    font-family: 'Fraunces', serif;
}

input[type="checkbox"] {
    height: 25px;
    width: 25px;
}

.submit-button{
    display: block;
    padding: 1rem;
    margin: 1rem auto 0 auto;

    font-family: 'Fraunces', serif;

    background: #000;
    color: white;
}

.close-form-btn{
    display: block;
    margin: 0 0 0 auto;
    font-weight: 700;
}